<div class="container">
    <div class="card-panel col s12">
    <h5>About Us</h5>
    <div class="divider"></div>
    	<p>This project was started in July of 2015 and is still a work in progress. We intend
    	to have an iOS app out soon that'll link directly to this website.</p>

    	<p>We also intend to add a better user experience, including the ability to reset a password
    	or delete an account or post.</p>
    </div>
</div>