<!-- <div class="container">
    <div class="card-panel col s12">
        <form action="/search/:search_term" method="POST">
            <div class="input-field">
                <input id="search" name="search_term" type="search" required>
                <label for="search"><i class="material-icons left">search</i>Search</label>
            </div>
        </form>
    </div>
</div> -->
<ul class="collection">
    <% @posts.reverse.each do |post| %>
        <div class="collection-item">
            <span class="light-green-text text-darken-3 username title">
            	<%= "#{fweet.user.username}"%></a>
            </span>
            <p><span class="content row">
                <%= "#{fweet.content}" %>
            </span></p>
        </div>
        <% end %>
</ul>
