<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>lineFree</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script src="../../js/myscripts.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="green">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left">lineFree</a>
                <% if logged_in? %>
                    <ul class="right">
                        <a class="green darken-3" href="/logout">Logout</a>
                    </ul>
                    <% else %>
                        <% end %>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="card-panel col s12">
            <form action="/search/:search_term" method="POST">
                <div class="input-field">
                    <input id="search" name="search" type="search" required>
                    <label for="search"><i class="material-icons left">search</i>Search</label>
                </div>
            </form>
        </div>
    </div>
    <%= yield %>
</body>

</html>
