<div class="container">
    <div class="row center-align">
        <div class="card-panel col s12 m6 l6 offset-l3">
            <div class="section">
                <form action="/login" method="POST">
                    <h4>Sign In</h4>
                    <div class="input-field">
                        <input placeholder="Username" id="username" type="text" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field">
                        <input placeholder="Password" id="password" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <button class="btn waves-effect waves-light light-green" type="submit" name="action">Sign in</button>
                </form>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h4>Sign up</h4>
            </div>
            <div class="row button-fix">
                <a class="waves-effect waves-light btn light-green" href="/new_user">Sign up</a>
            </div>
        </div>
    </div>
</div>
