<div class="container">
    <% if flash[:error] %>
        <div class="container">
            <div class="card-panel col s6">
                <p>
                    <span><%= flash[:error] %></span>
                </p>
            </div>
        </div>
    <% end %>
    <div class="card-panel col s12 m6 l6 offset-l3">
        <form class="col s12" action="/new_post" method="POST">
            <h5>New Post</h5>
                <div class="row">
                    <div class="input-field col s12 l6">
                        <input id="address" type="text" name="address" required>
                        <label for="address">Address</label>
                    </div>

                    <div class="input-field col s12 l6">
                        <select name="wait_time">
                            <option value="6-10">6-10 minutes</option>
                            <option value="11-15">11-15 minutes</option>
                            <option value="16-19">16-19 minutes</option>
                            <option value="20+">20+ minutes</option>

                        </select>
                        <label>Wait Time</label>
                    </div>

                    <div class="input-field col s12 l6">
                        <select name="people_in_line">
                            <option >1-5</option>
                            <option value="6-10">6-10</option>
                            <option value="11-15">11-15</option>
                            <option value="16-19">16-20</option>
                            <option>21+</option>
                        </select>
                        <label>People in the line</label>
                    </div>
                </div>  
                    <button class="btn waves-effect waves-light green" type="submit" name="action">Post</button>
            </div>
        </form>
    </div>
</div>