
    <div class="card-panel col s12 m6 l6 offset-l3">
        <form class="col s12" action="/new_user" method="POST">
            <legend>Sign up!</legend>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input id="firstname" type="text" name="first_name" required>
                    <label for="firstname">First Name</label>
                </div>
                <div class="input-field col s12 l6">
                    <input id="lastname" type="text" name="last_name" required>
                    <label for="lastname">Last Name</label>
                </div>
                <div class="input-field col s12 l6">
                    <input id="email" type="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone_number" type="tel" name="phone_number">
                    <label for="phone_number">Phone Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="username" type="text" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s12 l6">
                    <input id="password" type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s12 l3">
                    Birthdate
                    <input id="birthdate" type="date" name="birthdate">
                </div>
            </div>
            <button class="btn waves-effect waves-light green" type="submit" name="action">Sign Up</button>
        </form>
    </div>
</div>

