<ul class="collapsible" data-collapsible="accordion">
<% @place.each do |fweet| %>
    <li>
      <div class="collapsible-header"><%= "#{place.name}" %> <span id="place_type"><%= "#{place.type}" %></span></div>
      <div class="collapsible-body"><h6><%= "#{place.address}" %></h6></div>
    </li>
<% end %>
  