<div class="container">
	<div class="row">
		<div class="card-panel col s12">
		    <form action="/search/:search_term" method="POST">
		        <div class="input-field">
		            <input id="search" name="search" type="search" required>
		            <label for="search"><i class="material-icons left">search</i>Search by Address</label>
		        </div>
		    </form>
		</div>
		<p>Searching without an account is only available for residents of Miami, FL.</p>
	</div>
	<div class="row">
		<div class="card-panel col s12 l6">
			<% if @place.is_a? Array %>
			<div class="card-panel">
				<% @place.each do |place| %>
					    <div class="section">
					    	<div class="green-text">
					    		<%= "#{place.name.capitalize}" %>
					    	</div>	
						    <div class="content ">
		                        <%="#{place.address}" %>
		                    </div>
		                    <% if place != @place.reverse.last %>
	                    		<div class="divider"></div>
	                    	<% end %>
					    </div>
					    <% end %>
				</div>
			<% else %>
				<div class="card-panel">
					<div class="green-text row"><%= "#{@place.name}" %></div>
				    <div class="collapsible-body row"><h6><%= "#{@place.address}" %></h6></div>
				</div>
			<% end %>
		</div>
	</div>
</div>
