<div class="container">
    <div class="card-panel col s12">
        <form action="/search/:search_term" method="POST">
            <div class="input-field">
                <input id="search" name="search" type="search" required>
                <label for="search"><i class="material-icons left">search</i>Search by Name</label>
            </div>
        </form>
    </div>
    <div class="card-panel">
    <% @place.each do |place| %>
        <div class="row">
            <div class="col s12 m6 l6">
                <form action="/new_post" method="POST">
                    <a href="/new_post" name="">
                        <div class="card-panel s12 l6">
                            <div class="green-text">
                                <%= "#{place.name.capitalize}" %>
                            </div>
                            <div class="content ">
                                <%="#{place.address}" %>
                            </div>
                        </div>
                    </a>
                </form>
            </div>
            <div class="col s12 m6 l6">
            </div>
        </div>
        <% end %>
	</div>
</div>
