
<% if @place.is_a? Array %>
	<% @place.each do |place| %>
	    <div class="card-panel">
	    	<div class="green-text row"><%= "#{place.name.capitalize}" %></div>
	    	<div class="collapsible-body row"><h6><%= "#{place.address}" %></h6></div>
	    </div>
	<% end %>
<% else %>
	<div class="card-panel">
		<div class="green-text row"><%= "#{@place.name}" %></div>
+	    <div class="collapsible-body row"><h6><%= "#{@place.address}" %></h6></div>
	</div>
<% end %>

